.hoctapvanphongcoban{
    height: 510px;
    width: 100%;
    display: flex;
    min-width: 1200px;
    justify-content: center;
    margin-top: 50px;
}

.hoctapvanphongcoban__container{
    height: 100%;
    width: 1200px;
    background-color: white;
    border-radius: 20px;
    
}

.title{
    height: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 40px 0 0 30px;
}

.title h1{
    font-size: 30px;
    font-weight: 700;
    color: rgb(25, 136, 236);
}

.title p{
    font-size: 14px;
    font-weight: 600;
    color: rgb(105, 119, 137);
    margin: 0 70px 0 0 ;
    cursor: pointer;
}

.product{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.product__slide{
    height: 100%;
    width: 1080px;
    padding-top: 10px;
    display: flex;
    overflow: hidden;
    scrollbar-width: thin;
}




