.laptop-container{
    font-size: 20px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 248px;
    padding-top: 80px;
}

.first-row, .second-row, .third-row{
    display: flex;
    gap: 100px;
    margin-left: 55px;
    margin-right: 55px;
}

.name, .price, .state, .sale, .cpu, .ram, .rom, .state, .screen, .weight, .battery, .os, .port, .vga, .webcam{
    margin-top: 5px;
    font-size: 18px;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;
    border: none;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
}

.name{
    width: 400px;
}

.price{
    width: 120px;
}

.state{
    width: 130px;
}

.sale{
    width: 140px;
}

.specification-container{
    margin-top: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    border-radius: 6px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
    padding: 10px 20px 10px 20px;
    column-gap: 58px;
    row-gap: 15px;
}

.port{
    height: 100px;
}

.mux-container p{
    margin-bottom: 5px;
}
