.order-container{
    font-size: 18px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-left: 248px;
    padding-top: 80px;
    padding-left: 55px;
    padding-right: 55px;
}

.first-row{
    display: flex;
    flex-direction: column;
}

.title{
    font-size: 25px;
    font-weight: 600;
}

.cart-table{
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
    border-collapse: collapse;
    padding: 15px;
    margin-top: 10px;
    background-color: white;
}

.cart-table td{
    border: 1px solid rgb(0, 0, 0);
    padding: 17px;
}

.table-row{
    transition: background-color 0.15s;
}

.table-row:hover{
    background-color: rgb(223, 223, 223);
}

.stt{
    width: 30px;
    text-align: center;
}

.name{
    width: 140px;
}

.payment-method{
    width: 90px;
}

.status{
    width: 120px;
}

.order-date{
    width: 110px;
}

.note{
    width: 150px;
}

.address{
    width: 150px;
}

.change-status .title{
    font-size: 22px;
}

.input{
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.status-input{
    margin: auto;
    padding: 10px 10px 10px 10px;
    width: 200px;
    font-size: 20px;
    border-radius: 5px;
    border-color: black;
}

.to{
    margin: auto;
}

.id-input{
    margin: auto;
    padding: 10px 40px 10px 10px;
    width: 280px;
    font-size: 20px;
    border-radius: 5px;
    border-color: black;
}

.submit{
    display: block;
    margin: auto;
    font-size: 18px;
    padding: 12px;
    width: 200px;
    background-color: white;
    border-radius: 6px;
    color: rgb(0, 125, 234);
    border: 2px, solid, rgb(0, 125, 234);
    justify-content: center;
    cursor: pointer;
}